$def with (result)
<!DOCTYPE html>
<html>
    <head>
        <title>LISTA</title>
        <meta charset="utf-8">
        <meta nombre="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    </head>
    <body>
        <h1>
            Ver alumno
        </h1>
            <form method="POST" action="" novalidate>
                <div class="row form-group">
                    <label for="nombre" class="text-success col form-label col-md-4">Nombre:</label>
                    <div class="col-md-8">
                        <input type="text" readonly name="nombre" value="$result['nombre']" id="nombre" class="form-control">
                    </div>
                </div>
                
                <div class="row form-group">
                    <label for="apellido_p" class="text-success col form-label col-md-4">Apellido paterno:</label>
                    <div class="col-md-8">
                        <input type="text" readonly name="apellido_p" value="$result['apellido_p']" id="apellido_p" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="apellido_m" class="text-success col form-label col-md-4">Apellido materno:</label>
                    <div class="col-md-8">
                        <input type="text" readonly name="apellido_m" value="$result['apellido_m']" id="apellido_m" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="edad" class="text-success col form-label col-md-4">Edad:</label>
                    <div class="col-md-4">
                        <input type="number" readonly name="edad" value="$result['edad']" id="edad" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="fecha_nacimiento" class="col form-label col-md-4 text-success" >Dia de nacimiento:</label>
                    <div class="col-md-6">
                        <input type="date" readonly name="fecha_nacimiento" value="$result['fecha_nacimiento']" id="fecha_nacimiento" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="genero" class="col form-label col-md-4 text-success" >Genero:</label>
                    <div class="col-md-6">
                        <input type="text" readonly name="genero" value="$result['genero']" id="genero" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="estado" class="col form-label col-md-4 text-success" >estado de residencia:</label>
                    <div class="col-md-6">
                        <input type="text" readonly name="estado" value="$result['estado']" id="estado" class="form-control">
                    </div>
                </div>
                
        </form>
           
            
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>